.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
  margin-top: 40px;
  text-align: center;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}