.hero {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-content {
  flex: 1; /* Займає 50% */
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
}

.hero-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.hero-image {
  flex: 1; /* Займає 50% */
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
}