body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #161616;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  th:hover {
    background-color: #ddd;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }
  
  #totalPrice {
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  

  button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #111B47;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
  }

  button:hover {
    background-color: #33396f;
  }

  .actions a {
    text-decoration: none;
  }


  form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form button {
    margin-top: 15px;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 80%;
    margin: 15% auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease;
  }
  
  .close {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }

  @keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
  }
